* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  display: grid;
  place-items: center;
  background-color: #003366;
}

main {
  background: url(img/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 2;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

a {
  margin-top: 0.25rem;
  color: var(--gray);
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

li {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (min-width: 720px) {
  main {
    background: url(img/background_Desktop.svg) no-repeat center/cover;
    background-color: black;
  }
}
